<br />
<br />
<br />

<p>
    Using machines helps us in making sure all the parameters of top grade brick are taken care of so that your home gets nothing but the best bricks in Tamil Nadu. 
    <br />
    Our manufacturing units are in Mangarai near Thadagam Coimbatore and we have excellent shipping facilities for our bricks.
</p>

<h4>How to make excellent quality bricks?</h4>

<p>
    One of the popular questions we receive is how Real bricks is able to produce top notch standard bricks. 
    <br />
    Below is the process we follow diligently so that our customers are always happy with our products and services:
</p>

<ol>
    <li>
        <p>The first parameter is sourcing the soil with a <strong>good percentage of clay.</strong> Soil is the basic raw material for a brick and if the right quality of soil is found <strong>50 percent</strong> of our work is done.</p>
    </li>
    <li>
        <p>The next parameter is the <strong>percentage of moisture</strong> in soil mortar which helps in deciding the strength of the bricks.</p>
    </li>
    <li>
        <p>Now comes the part where real manufacturing takes place after we accumulate our top grade raw materials. Our machines help in making and <strong>cutting</strong> the bricks which are uniform in size and have the right texture on all the sides. They make sure that the <strong>sides are flat</strong> which is important when applying cement.</p>
    </li>
    <li>
        <p>Once manufactured we have to dry these bricks. <strong>Drying</strong> helps bricks in gaining strength and also prevents micro cracks.</p>
    </li>
    <li>
        <p>The final process is firing the bricks in the kiln. The dried bricks are exposed to a temperature of about <strong>900-950 degrees</strong> which helps the particles bind together to form a strongly integrated stone using a sintering process. The period of the sintering process plays an important role in determining the quality of the bricks.</p>
    </li>
</ol>

<p>
    Using machinery helps in the brick making process helps us in reducing manual error to a great extent. It also allows in achieving a great level of automation which leads to fast manufacturing processes.
</p>