p {
    text-align: justify;
    text-transform: none;
}

ol {
    margin: 30px 30px 30px 15px;
    counter-reset: item;
    list-style-type: none;

    li {
        font-family: LatoBold;
        display: block;
        position: relative;
        margin: 4% 0;

        p {
            font-family: LatoBlack;

            strong {
                color: #E84145;
                font-weight: 900;
            }
        }
    }

    li:before {
        content: "#" counter(item) "  "; 
        counter-increment: item;
        color: #E84145;
        position: absolute;
        top: 0;
        left: -4%;
    }
}