<br />
<br />
<br />

<ol>
    <li>
        <h6>Dimension</h6>
        <img src="../../assets/brick_dimention.png" alt="Dimension" />
        <p>
            It is important that all the bricks are of uniform size so that while placing them they form a strong grid holding the building structure firmly.
            The standard size of Brick is LxBxH.
        </p>
    </li>
    <li>
        <h6>Flatness</h6>
        <p>
            Flatness ensures that adhesives are applied effectively and cement reaches all the nooks and corners effectively.
            Standard deviation can be a maximum of 2 to 3 mm.
        </p>
        <img src="../../assets/flatness.png" alt="Flatness" />
    </li>
    <li>
        <h6>Compression strength</h6>
        <img src="../../assets/compression_strength.png" alt="Compression strength" />
        <p>
            Compression strength is a very important factor determining how well the bricks can handle the pressure. This factors also helps in deciding how effectively the building can withstand harsh weathers and natural calamities.
            Standard compressive strength of Brick is —Kgs.
            Real Bricks certificate from NPL.
        </p>
    </li>
</ol>

<p>
    The thorough inspection of our final products helps us in making sure that bricks are of the finest quality and hence Real Bricks can assure you that each brick of ours will make your house only stronger and sturdier.
</p>