<ng-container *ngIf="route != 'admin'">
  <main [style]="'height: ' + (route == 'home' ? '75%' : (route == 'pagenotfound' ? '100%' : '60%')) + ';'">
    <figure [@anim1]="anim" [style]="'background: ' + (route == 'profile' && load.src ? '#FFF' : 'url(\'../assets/' + route + '.jpg\')') + ';' + (route == 'home' ? ' animation: zooming 25s ease-out;' : '')"></figure>
    <div class="menu" [@anim3]="anim">
      <img src="../assets/logo.png" alt="logo" routerLink="/home" />
      <ul>
          <li [class]="route == 'home' ? 'active' : ''" routerLink="/home">home</li>
          <li [class]="route == 'process' ? 'active' : ''" routerLink="/process">process</li>
          <li [class]="route == 'quality' ? 'active' : ''" routerLink="/quality">quality</li>
          <li [class]="route == 'enquire' ? 'active' : ''" routerLink="/enquire">enquire</li>
          <li [class]="route == 'order' ? 'active' : ''" routerLink="/order">order</li>
          <li [class]="route == 'profile' ? 'active' : ''" [style]="'display: ' + (load.loggedin && load.user ? 'inline-block;' : 'none;')">
          <figure><img [src]="(load.user && load.user['photo'] != 'no') ? load.src : '../assets/blank.png'" 
          alt="profile pic" /></figure><span>{{ load.user['name'] ? ('Hi, ' + load.user['name']) : 'Welcome' }}</span><ul>
          <li [style]="route != 'profile' ? '' : 'display: none;'" routerLink="/profile">view profile</li><li (click)="logout()">logout</li></ul></li>
          <li [style]="'display: ' + (!load.loggedin ? 'inline-block;' : 'none;')" (click)="load.show = true;"><button>login</button></li>
          <li [style]="'display: ' + (load.loggedin && !load.user ? 'inline-block;' : 'none;')" routerLink="/admin">admin</li>
      </ul>
    </div>
    <div class="pic" [@anim1]="anim" [style]="'visibility: ' + (route == 'profile' && load.src ? 'visible' : 'hidden')">
      <div class="border"></div>
      <figure>
        <img *ngIf="load.src" [src]="load.src" alt="profile pic" />
      </figure>
      <h4>hello!!!<br *ngIf="load.user['name']" />{{ load.user['name'] ? load.user['name'] : '' }}</h4>
    </div>
    <div [@anim2]="anim" class="edt" [style]="'visibility: ' + (route == 'profile' ? 'visible' : 'hidden')">
      <span (click)="load.showimg = true"><img src="../assets/edit.png" alt="edit" /> edit</span>
    </div>
    <div [@anim2]="anim" class="head" [style]="'visibility: ' + (route == 'home' ? 'visible' : 'hidden')">
      <h1>real bricks</h1>
      <h6>npl certified</h6>
    </div>
    <div [@anim2]="anim" class="quote" [style]="'visibility: ' + (['home', 'pagenotfound', 'profile'].includes(route) ? 'hidden' : 'visible')" [innerHTML]="content[route]"></div>
  </main>
  <section *ngIf="route != 'pagenotfound'" [@fade]="anim">
    <div class="container">
      <div class="row">
        <router-outlet></router-outlet>
  
        <br />
        <br />
        <br />
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col s3">
          <h6>contact us:</h6>
          <ul>
            <li><img src="../assets/location.png" alt="location" /><span>20, Kovtalam Beach, Chennai,<br />Pin: 600033</span></li>
            <li><img src="../assets/mail.png" alt="mail" /><span>buyrealbricks@gmail.com</span></li>
            <li><img src="../assets/phone.png" alt="phone" /><span>+91 9500978912</span></li>
          </ul>
        </div>
        <div class="col s6">
          <ol>
            <li (click)="route != 'home' && scrl()" routerLink="/home">home</li>
            <li (click)="route != 'process' && scrl()" routerLink="/process">process</li>
            <li (click)="route != 'quality' && scrl()" routerLink="/quality">quality</li>
            <li (click)="route != 'enquire' && scrl()" routerLink="/enquire">enquire</li>
            <li (click)="route != 'order' && scrl()" routerLink="/order">order</li>
          </ol>
        </div>
        <div class="col s3">
          <figure>
            <img src="../assets/npl_logo.png" alt="NPL" />
          </figure>
          <p>National Physical Laboratory<br /><strong>Certified</strong></p>
        </div>
      </div>
    </div>
    
    <span>designed & developed by<br /><a href="http://www.addcreativity.co.in" target="_blank">addcreativity</a></span>
  </footer>
  
  <div id="login" [@fade]="load.show" (click)="close($event)">
    <div>
      <div class="container">
        <div class="row">
          <div [@collapse]="login == 'login'">
            <h5>sign in</h5>
      
            <div class="col s12">
              <input type="text" [(ngModel)]="mobile3" placeholder="mobile number" autocomplete="disabled" />
            </div>
            <div class="col s12">
              <input type="password" [(ngModel)]="password" placeholder="password" autocomplete="disabled" (keypress)="keyPressEnter($event)" />
            </div>
  
            <a (click)="login = 'password'; reset()">forgot password?</a>
      
            <button (click)="signin()">sign in</button>
  
            <span (click)="login = 'register'; reset()">don't an account? <strong>sign up</strong> here</span>
  
            <h6>or sign in with</h6>
  
            <div class="icons">
              <div (click)="soon()"><img src="../assets/fb.png" alt="FB Login"></div>
              <div (click)="soon()"><img src="../assets/google.png" alt="Google Login"></div>
            </div>
          </div>
          
          <div [@collapse]="login == 'register'">
            <h5>sign up</h5>
      
            <div class="col s12">
              <input type="email" [(ngModel)]="email2" placeholder="email address" autocomplete="disabled" />
            </div>
            <div class="col s12">
              <input type="password" [(ngModel)]="password2" placeholder="password" autocomplete="disabled" />
            </div>
            <div class="col s12">
              <input type="password" [(ngModel)]="confirm" placeholder="confirm password" autocomplete="disabled" />
            </div>
            <div [class]="verified != 'yes' ? 'col s9' : 'col s12'">
              <input type="text" [readonly]="verified == 'yes'" [(ngModel)]="mobile" placeholder="mobile number" autocomplete="disabled" (keypress)="keyPressNumbers($event)" (paste)="disablePaste($event)" />
            </div>
            <div class="col s3" *ngIf="verified != 'yes'">
              <input type="text" [readonly]="verified == 'yes'" [(ngModel)]="otp" placeholder="otp" autocomplete="disabled" (keypress)="keyPressNumbers($event)" (paste)="disablePaste($event)" />
            </div>
  
            <a class="time" *ngIf="verified == 'inprocess' && timer != 0" style="cursor: default; text-decoration: none !important;">resend in {{ time(timer) }}</a>
            <a *ngIf="verified == 'inprocess' && timer == 0" (click)="sendotp()">resend otp</a>
      
            <button (click)="signup()">{{ verified == 'yes' ? 'sign up' : 'verify mobile number' }}</button>
  
            <span (click)="login = 'login'; reset()">already have an account? <strong>sign in</strong> here</span>
  
            <h6>or sign up with</h6>
  
            <div class="icons">
              <div (click)="soon()"><img src="../assets/fb.png" alt="FB Login"></div>
              <div (click)="soon()"><img src="../assets/google.png" alt="Google Login"></div>
            </div>
          </div>
          
          <div [@collapse]="login == 'password'">
            <h5>forgot password</h5>
      
            <div class="col s12">
              <input type="text" [(ngModel)]="mobile2" placeholder="mobile number" autocomplete="disabled" (keypress)="keyPressNumbers($event)" (paste)="disablePaste($event)" />
            </div>
      
            <button (click)="forgot()">send sms</button>
  
            <span (click)="login = 'login'; reset()">back to <strong>sign in</strong> here</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="route == 'admin'">
  <router-outlet></router-outlet>
</ng-container>

<div id="loader" [@fade]="!load.loaded">
  <img src="../assets/loader.gif" alt="Loading...">
</div>

<div id="network" [@fade]="connectionStatus">
  <div>
      <img src="../assets/internet.png" />
      <span>no internet connection</span>
  </div>
</div>