<div routerLink="/order">
    <h4>need bricks delivered</h4>
    <h6>Minimum 10 Working Days</h6>
</div>

<p>
    We at Real Bricks help you build your dream home one brick at a time!
    <br />
    We understand your need for quality materials and you are at the right place if you want bricks which will serve you for ages.
</p>

<p>
    Bricks are the foundation of every building be it Tamil Nadu’s pride Meenakshi Temple or the world famous Taj Mahal.
    <br />
    Bricks used in constructions are mainly made of two materials which are Clay and Water. Hence we can also call them clay bricks too. They were invented 3000 years ago and surprisingly the manufacturing processes of making bricks has not changed much since then.    
</p>

<p>
    We at Real Bricks have immense expertise in this field and know what a good quality brick consists of. Some of the parameters of a good brick is mentioned below:
</p>

<ol>
    <li>
        <img src="../../assets/thermal_insulation_icon.png" alt="Good thermal insulation" />
        <h6>Good thermal insulation</h6>
        <p>
            Bricks have these amazing properties of maintaining the indoor temperature very well. If the weather is hot, cold or even rainy good bricks help in maintaining ambient temperature inside the building.
        </p>
    </li>
    <li>
        <img src="../../assets/good_compression_strength_icon.png" alt="Good compression strength" />
        <h6>Good compression strength</h6>
        <p>
            Compression strength is what determines how strong your brick is and determines how much compression load it can take. A good compression strength means a sturdy building which will keep you and your family safe.
        </p>
    </li>
    <li>
        <img src="../../assets/compression_strength_to_weight_ratio_icon.png" alt="Excellent Compression strength to weight ratio" />
        <h6>Excellent Compression strength to weight ratio</h6>
        <p>
            Another parameter which determines how robust your building will be. It’s very important to have excellent compression strength to weight ratio especially if you live in a natural calamity prone area for example earthquakes.
        </p>
    </li>
    <li>
        <img src="../../assets/easy_workability_icon_2.png" alt="Easy workability" />
        <h6>Easy workability</h6>
        <p>
            The easier the workability of the brick, faster will be the construction of the building.
        </p>
    </li>
    <li>
        <img src="../../assets/adhesive_white_icon.png" alt="Great adhesive property with cement" />
        <h6>Great adhesive property with cement</h6>
        <p>
            As you might have understood greater the adhesion the more foolproof will be the building to adverse weather conditions. It’s important to use good quality cement for the same too.
        </p>
    </li>
    <li>
        <img src="../../assets/icon_base_file.png" alt="Great post-construction lifetime" />
        <h6>Great post-construction lifetime</h6>
        <p>
            We don’t build home for ourselves but generations after us. Hence quality bricks are the one which can keep your home safe for years to come. Real bricks strive to construct buildings whose brick’s quality will remain unchanged for decades.
        </p>
    </li>
</ol>

<p>
    It’s amazing how many benefits bricks have. They are environment friendly, help in making home energy efficient, come in various shapes and textures and are very maintenance friendly.
</p>

<p>
    Bricks absorb heat really well which is an excellent feature to live in places like Chennai. For a sturdy home bricks are the best construction materials to be used and hence will remain popular for centuries to come. They have been trusted by our ancient kings for their palaces and hence you can definitely trust for the house of your dreams.
</p>

<p>
    Trust Real Bricks for top quality bricks and leave all your worries with us!
</p>